<section>
  <h1 class="text-primary">Session 4</h1>
  <h2>Bootstrap</h2>
</section>
<section>
  <h1 class="text-primary">Session Outline</h1>
  <ul>
    <li>Why use a framework?</li>
    <li>About Bootstrap</li>
    <li>Form groups</li>
    <li>Set up repos</li>
    <li>Tips</li>
  </ul>
</section>
<section>
  <section>
    <h1 class="text-primary">Why use a framework?</h1>
  </section>
  <section>
    <h2>Compatibility</h2>
  </section>
  <section>
    <h2>Components</h2>
    <p>
      <span class="badge badge-pill badge-primary px-3">Cards</span>
      <span class="badge badge-pill badge-primary px-3">Columns</span>
      <span class="badge badge-pill badge-primary px-3">Containers</span>
      <span class="badge badge-pill badge-primary px-3">Fancy tables</span>
      <span class="badge badge-pill badge-primary px-3">Navbars</span>
      <span class="badge badge-pill badge-primary px-3">Badges</span>
      <br />...and a whole load more!
    </p>
  </section>
  <section>
    <h2>Common standards</h2>
  </section>
  <section>
    <h2>Some examples<br /><small><a href="http://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap documentation</a></small></h2>
  </section>
  <section class="bg-primary">
    <h1>Task 1</h1>
    <ul>
      <li>Clone this repo: <b><a class="text-secondary" href="https://github.com/code61/bootstrap_exercise">https://github.com/code61/bootstrap_exercise</a></b></li>
      <li>Use the Bootstrap Starter Template and documentation to make it look great!</li>
    </ul>
  </section>
</section>
<section>
  <section>
    <h1 class="text-primary">About Bootstrap</h1>
  </section>
  <section>
    <h2>Layout</h2>
    <p>Bootstrap uses <b>columns</b>. These can be used to change the layout at different <b>breakpoints</b>.</p>
    <p><b>Container divs</b> can be used to put a margin around content.</p>
    <p><a href="https://getbootstrap.com/docs/4.0/layout/grid/#auto-layout-columns">Bootstrap documentation on columns</a></p>
  </section>
  <section>
    <code>
      <span>col-</span>
      <span class="fragment text-info show">md-</span>
      <span class="fragment text-success show">6</span>
    </code>
  </section>
  <section class="bg-primary">
    <h1>Task 2</h1>
    <ul>
      <li>Check out the links in the notes</li>
      <li>Do Task 2</li>
    </ul>
    <p>If you're liking this presentation format, we'll do a lot more to put all necessary links on the slides!</p>
  </section>
  <section class="bg-primary">
    <h1>More Tasks</h1>
    <ul>
      <li>Work through the links and tasks on <b>typography</b>, <b>badges</b>, <b>buttons</b> and <b>images</b>.</li>
    </ul>
  </section>
  <section>
    <h1 class="text-primary">Getting Sassy</h1>
    <p>Customise Bootstrap with Sass if you're feeling confident.</p>
    <ol>
      <li>Install Sass</li>
      <li>Make a <code>scss</code> file - like CSS, but sassier</li>
      <li>Download Bootstrap to your project directory</li>
      <li><code>@import "bootstrap";</code> right at the end</li>
      <li>Change variables from <code>variables.scss</code></li>
    </ol>
  </section>
</section>
<section class="bg-primary">
  <h1>Form groups</h1>
  <p>Get into <b>groups of 2 or 3</b></p>
  <p>Think of a <b>team name!</b></p>
  <p>Make a repository in the <b>Hypertext Markup Ladies</b> team in the GitHub organisation.</p>
</section>
<section class="bg-primary"> <h1>Set up repos</h1>
  <ol>
    <li>Create your project repo on GitHub</li>
    <li>Clone the repo to GitKraken</li>
    <li>Use the Bootstrap Starter Template as your <code>index.html</code></li>
    <li>Create <code>main.css</code></li>
  </ol>
</section>
<section>
  <h1 class="text-primary">Tips</h1>
  <ul>
    <li>Feel free to copy examples from the Bootstrap documentation into your code</li>
    <li>Use Bootstrap classes over writing CSS wherever you can</li>
    <li>Play with FontAwesome 4.7.0</li>
  </ul>
</section>
